.gradient {
    background: linear-gradient(90deg, #003366 0%, #ffcc00 100%);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Tamanho máximo das imagens */
    border-radius: 8px;
    margin: 0 auto;
}

.slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-prev,
.slick-next {
    color: #333;
    font-size: 24px;
    line-height: 1;
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 24px;
}

.slick-prev:before {
    content: "←";
}

.slick-next:before {
    content: "→";
}

nav a:hover {
    color: #0000ff; /* Azul */
}

/* Modo Noturno */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .bg-white {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .text-gray-800 {
    color: #ffffff;
}

body.dark-mode .text-gray-600 {
    color: #bbbbbb;
}

body.dark-mode .gradient {
    background: linear-gradient(90deg, #333333 0%, #777777 100%);
}

body.dark-mode nav a {
    color: #ffffff;
}

body.dark-mode .team-carousel .text-gray-800 {
    color: #ffffff;
}

body.dark-mode .team-carousel .text-gray-600 {
    color: #bbbbbb;
}
